{% assign settings = site.data.settings %}

<div class="lv-footer-inner">
    <div class="row collapse is-full-width">

        <!-- Footer Links -->
        <div class="medium-6 medium-push-6 columns">
            <ul class="lv-footer-links lv-inline-list text-center medium-text-right">
                <li><a href="{{ settings.help }}" target="_blank">Help</a></li>
                <li><a href="{{ settings.feedback }}" target="_blank">Feedback</a></li>
                <li><a href="{{ settings.terms_of_use }}" target="_blank">Terms of Use</a></li>
            </ul>
        </div>

        <!-- Footer Legal -->
        <div class="medium-6 medium-pull-6 columns">
            <div class="text-center medium-text-left">
                <small class="lv-footer-legal">&copy; <b>2015</b> <a href="{{ settings.thomson_reuters_au }}">Thomson Reuters</a> (Professional) Australia LTD | BigRedSky SAP R1.10</small>
            </div>
        </div>

    </div> <!-- .row -->
</div> <!-- .lv-footer-inner -->