<h3>Tip of the Day</h3>

<p>Seek adverts upload from BigRedSky every hour. This means that when you post a new Seek advert, alter an existing advert or remove an advert by expiring it, the changes will only be reflected on the Seek website after the next upload from BigRedSky. Your listed advert will let you know when the next upload will be.</p>

<!-- <img width="100%" src="https://admin-asapcorp.bigredsky.com/images/totd/seek_upload.gif"> -->

<hr>

<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

<h3>Need Assistance?</h3>

<p>Don't hesitate to email our <a href="mailto:helpdesk@bigredsky">Customer Help Desk</a> or call using the number below.</p>
<p><a href="tel:1300733056" class="button small radius knockout">1300 733 056</a></p>