<h3>Tip of the Day</h3>

<p>Seek adverts upload from BigRedSky every hour. This means that when you post a new Seek advert, alter an existing advert or remove an advert by expiring it, the changes will only be reflected on the Seek website after the next upload from BigRedSky. Your listed advert will let you know when the next upload will be.</p>

<!-- <img width="100%" src="https://admin-asapcorp.bigredsky.com/images/totd/seek_upload.gif"> -->

<hr>

<h3>Need Assistance?</h3>

<p>Don't hesitate to email our <a href="mailto:helpdesk@bigredsky">Customer Help Desk</a> or call using the number below.</p>
<p><a href="tel:1300733056" class="button small radius knockout">1300 733 056</a></p>