
{% comment %}
<!-- <a class="popup-modal" href="#test-modal">Open modal</a> -->

<div id="modal" class="mfp-hide lv-modal">
    <div class="lv-modal-header">
        <p class="left">Help on constructing your search term</p>
        <a class="popup-modal-dismiss" href="#"><i class="fi-x"></i></a>
    </div>
    <div class="lv-modal-content">
        <div class="lv-inner">
            <!-- <h1>Modal dialog</h1>
            <p>You won't be able to dismiss this by usual means (escape or
            click button), but you can close it programatically based on
            user choices or actions.</p> -->
        </div> <!-- .lv-inner -->
    </div> <!-- .lv-modal-content -->
</div> <!-- .lv-modal -->

<script type="text/javascript">
    $(function () {
      $('.lv-modal-trigger').magnificPopup({
        type: 'inline',
        preloader: false,
        focus: '#username',
        modal: true
      });
      $(document).on('click', '.popup-modal-dismiss', function (e) {
        e.preventDefault();
        $.magnificPopup.close();
      });
    });
</script>
{% endcomment %}

<!-- <a href="/modal_output/account.html" data-reveal-id="modal-account" data-reveal-ajax="true">Click Me For A Modal Foundation</a><br><br> -->
<!-- <a href="/modal_output/logout.html" data-reveal-id="modal-logout" data-reveal-ajax="true">Logout</a> -->

<div id="modal-account" class="reveal-modal" data-reveal></div>
<div id="modal-logout" class="reveal-modal small" data-reveal></div>



