/*
    CONTEXT-MENU.CSS

    - Last updated: 21.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Context Menu - Layout
//-----------------------------------------------------------------

.lv-context-menu {
    display: none; // Hidden on mobile by default, JS will show
    position: fixed;
    top: 0;
    bottom: 0;
    width: $secondary-nav-width;
    height: 100%;
    background: $secondary-color;

    // Becomes table-cell on large, affects stage content
    @media #{$large-up} {
        display: table-cell !important; // override .lv-show simply
        position: relative;
        left: 0;
        vertical-align: top;
    }

    &.lv-show {
        display: block;
    }
}

//=========================================
// Context Menu Fixed - Layout
//=========================================

.lv-context-menu-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $secondary-nav-width;

    // Account for the footer on large
    @media #{$large-up} {
        bottom: $footer-height;
    }
}

//=========================================
// Context Menu Scroller - Layout
//=========================================

.lv-context-menu-scroller {
    width: $secondary-nav-width;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}











//-----------------------------------------------------------------
// Context Menu Components - Logo
//-----------------------------------------------------------------

//=========================================
// Logo
//=========================================

.lv-context-menu .lv-logo {
    display: block;
    padding: rem-calc(30 0 30 0);
    text-align: center;

    img {
        width: rem-calc(130);
    }
}

//=========================================
// User
//=========================================

.lv-context-menu-user {
    margin: rem-calc(0 15 10 15);
    padding-bottom: rem-calc(15);
    border-bottom: 1px solid darken($secondary-color, 10%);

    .user {
        @include truncate(220px);
        color: white;
        font-weight: 600;
        padding: 0;
        line-height: 1;
    }

    .logout {
        padding-left: rem-calc(25);
    }
}


//=========================================
// Expander
//=========================================

.lv-context-menu-user-group .lv-expander {
    padding: rem-calc(15);
}

//=========================================
// Links
//=========================================

.lv-context-menu {
    ul {
        list-style: none;
        margin: 0;
    }

    a {
        transition: none;
        position: relative;
        display: block;
        // padding: rem-calc(12 15);
        padding: rem-calc(8 15);
        font-size: rem-calc(13);
        color: #B8B9BA;
        // line-height: 1;
        @media #{$large-up} {
            // padding: rem-calc(8 15);
        }
    }

    i {
        position: relative;
        top: 2px; // hack align
        font-size: rem-calc(18);
        line-height: 0;
        margin-right: rem-calc(10);
    }

    .active a {
        background: darken($secondary-color, 10%); //#5E6E7F;
        color: white;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background: $primary-color;

        }
    }
}

//=========================================
// Hovers
//=========================================

@media #{$large-up} {
    .lv-context-menu a:hover {
        color: white;
        background: darken($secondary-color, 4%);
    }
}
