/*
    CONTEXT MENU.CSS

    - Last updated: 18.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Context Menu
//-----------------------------------------------------------------

.lv-context-menu {
    display: none; // Hidden on mobile, JS will show
    position: fixed;
    top: 0;
    bottom: 0;
    width: $secondary-nav-width;
    height: 100%;
    background: $secondary-color;

    // Becomes table-cell on large, affects stage content
    @media #{$large-up} {
        display: table-cell !important; // override .lv-show simply
        position: relative;
        left: 0;
        vertical-align: top;
    }

    &.lv-show {
        display: block;
    }
}

//-----------------------------------------------------------------
// Context Menu Scroller
//-----------------------------------------------------------------

.lv-context-menu-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $secondary-nav-width;

    // Account for the footer on large
    @media #{$large-up} {
        bottom: $footer-height;
    }
}

//=========================================
// Seconday Nav (Flyout Nav)
//=========================================

.lv-context-menu-scroller {
    width: $secondary-nav-width;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}































//-----------------------------------------------------------------
// Stuff
//-----------------------------------------------------------------

.lv-context-menu-scroller {
    h4 {
        padding: rem-calc(15);
    }

    .active a {
        background: darken($secondary-color, 10%); //#5E6E7F;
        border-left: 4px solid $primary-color;
        color: white;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    a {
        display: block;
        // border-bottom: 1px solid #D4DCE3;
        color: #CCC;
        padding: 10px 15px;
        font-size: 0.9rem;

        i {
            margin-right: rem-calc(10);
        }

        &.active {
            background: #5E6E7F;
            color: white;
            font-weight: 600;
        }
    }
}