/*
    HEADER.CSS

    - Last updated: 18.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$mobile-header-height: 40px !default;

//-----------------------------------------------------------------
// Global Header
//-----------------------------------------------------------------

.lv-global-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background: rgba(white, .9);
    text-align: center;
    z-index: 100;

    h1 {
        font-size: rem-calc(16);
        font-weight: 600;

        @media #{$large-up} {
            font-size: $h3-font-size;
            font-weight: normal;
        }
    }

    @media #{$large-up} {
        position: static;
        background: none;
        text-align: left;
        border: 0;
    }
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.lv-header {
    border-bottom: 1px solid #ddd;

    @media #{$large-up} {
        border: 0;
    }
}

//=========================================
// H3 - Brings own height
//=========================================

.lv-header h1 {
    line-height: $mobile-header-height;

    @media #{$large-up} {
        border-bottom: 1px solid #ddd;
        padding-bottom: rem-calc(20);
        margin-bottom: rem-calc(30);
    }
}

//=========================================
//
//=========================================

