/*
    HEADER.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$mobile-header-height: 40px !default;

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.lv-header {
    background: rgba(white, .9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;


    @media #{$large-up} {
        position: static;
        background: none;
        text-align: left;
        border: 0;
    }
}

.lv-header h3 {
    line-height: $mobile-header-height;

    @media #{$large-up} {
        border-bottom: 1px solid #ddd;
        padding-bottom: rem-calc(20);
        margin-bottom: rem-calc(30);
    }
}

//=========================================
// Logo Wrapper
//=========================================

