/*
    STAGE.CSS

    - Last updated: 17.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

// These are not to fly-out on desktop
.lv-main[style],
.lv-sidebar[style],
.lv-footer[style],
.lv-touch-menu[style] {
    @media #{$large-up} {
            -ms-transform: none !important;
        -webkit-transform: none !important;
                transform: none !important;
    }
}

body {
    background: red !important;
}

//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.lv-stage {
    display: table; // this is needed
    position: absolute;
    width: 100%; // Stop right gaps, essential
    height: 100%;

    // overflow-x: hidden; /* stops sidebar breaking out with the -1px x value */
    // overflow-y: scroll; // need this?
    background: orange;
}

//-----------------------------------------------------------------
// Main Content Area
//-----------------------------------------------------------------

.lv-main {
    display: table-header; // trust me
    // position: relative; // risky? maybe remove ****
    padding: rem-calc(20 0 $touch-menu-height 0);
    // margin-bottom: $touch-menu-height; // lifesaver
    // Main conceals the context menu underneath - so needs a BG color
    background: #61B95F; //$body-bg;
    // height: 100%; // This creates unwanted padding at top when content is low height

    // box-shadow: 0 0 10px 0 rgba(0,0,0,.4);

    @media #{$medium-up} {
        // padding: rem-calc(20 ($sidebar-width-collapsed + 20) 60 20);
        padding: rem-calc(20 ($sidebar-width-collapsed + 20) 55px 20);
    }

    @media #{$large-up} {
        padding-right: rem-calc(20);
    }
}