/*
    TOUCH-MENU.CSS

    - Last updated: 18.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Touch menu
//-----------------------------------------------------------------

.lv-touch-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    line-height: 0; // fixes height issue
}

// Broken in Foundation for some reason
.icon-bar label {
    font-size: $icon-bar-font-size;
}

//=========================================
//
//=========================================