---
layout: master
---

<!-- STAGE -->
<section class="lv-stage">

    <!-- CONTEXT MENU -->
    <nav class="lv-context-menu">
        {% include menus/context_menu.html %}
    </nav>

    <!-- MAIN -->
    <main class="lv-main">

        <!-- HEADER -->
        <header class="lv-header lv-global-header">
            <div class="row">
                <div class="columns">
                    {% include header.html %}
                </div>
            </div>
        </header> <!-- .header -->

        <!-- CONTENT -->
        <div class="lv-content">
            <div class="row">
                <div class="columns">
                    {{ content }}
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="lv-footer">
            {% include footer.html %}
        </footer>

    </main> <!-- .lv-main -->

    <!-- SIDEBAR -->
    <aside class="lv-sidebar">
        {% include sidebar.html %}
    </aside>

</section> <!-- .lv-stage -->

<!-- TOUCH MENU -->
<div class="lv-touch-menu hide-for-large-up">
    {% include menus/touch_menu.html %}
</div>

<!-- MODAL CONTAINERS -->
{% include snippets/modals.html %}