<!DOCTYPE html>
<!--[if lt IE 8]>       <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lt IE 9]>       <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Big Red Sky">
    <title>
        {% comment %} SEO IMPLEMENTATION - IGNORE THIS {% endcomment %}
        {% if page.url == '/' %}
            {{ site.data.settings.seo_title }}
        {% else %}
            {% if page.seo_title %}
                {{ page.title }} - {{ page.seo_title }}
            {% else %}
                {{ page.title }} - {{ site.data.settings.seo_title }}
            {% endif %}
        {% endif %}
    </title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/img/template/favicon.ico" | prepend: site.assets }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/template/apple-touch-icon-144x144.png" | prepend: site.assets }}">

    <!-- Google Fonts CDN -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">

    <!-- build:css({src,.tmp}) /assets/css/minified.css -->
    <link rel="stylesheet" href="/css/foundation/app.css">
    <link rel="stylesheet" href="/_bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/_bower_components/footable/css/footable.core.css">
    <link rel="stylesheet" href="/css/liquidvisual/liquidvisual.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- Priority Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
</head>
<body>
    <div class="lv-super light-themeX">
        <div class="lv-page">

            {{ content }}

        </div> <!-- .lv-page -->
    </div> <!-- .lv-super -->

    <!-- ***** JAVASCRIPT ***** -->

    <!-- build:js(src) /assets/scripts/minified.js -->
    <script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
    <script src="/_bower_components/foundation/js/foundation/foundation.abide.js"></script>
    <script src="/_bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="/_bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="/_bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="/_bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="/_bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/_bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/_bower_components/jquery.transit/jquery.transit.js"></script>
    <script src="/_bower_components/nprogress/nprogress.js"></script>

    <script src="/_bower_components/footable/js/footable.js"></script>
    <script src="/_bower_components/footable/js/footable.paginate.js"></script>
    <script src="/_bower_components/footable/js/footable.sort.js"></script>
    <script src="/_bower_components/footable/js/footable.filter.js"></script>

    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/adhoc-datepicker.js"></script>
    <script src="/scripts/adhoc-list-delete.js"></script>
    <script src="/scripts/accordion.js"></script>
    <script src="/scripts/context-menu.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/expander.js"></script>
    <script src="/scripts/legacy.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/sidebar.js"></script>
    <script src="/scripts/tabs.js"></script>
    <script src="/scripts/tables.js"></script>
    <script src="/scripts/tooltips.js"></script>
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->

    <script>
        $(document).foundation();
    </script>

    {% comment %}
    <!--
        ~~~ DEV REFERENCE ONLY ~~~

        ** FOUNDATION 5 **
        <script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.abide.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.accordion.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.alert.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.clearing.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.interchange.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.joyride.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.magellan.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.reveal.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.slider.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.tab.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
        <script src="/_bower_components/foundation/js/foundation/foundation.topbar.js"></script>

        ** OTHER **
        <script src="/_bower_components/bxSlider/jquery.bxslider.min.js"></script>
        <script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
        <script src="/_bower_components/isotope/dist/isotope.pkgd.min.js"></script>
        <script src="/_bower_components/slick.js/slick/slick.js"></script>
        <script src="/_bower_components/WOW/dist/wow.min.js"></script>
    -->
    {% endcomment %}

    <!-- PLACE ALL OTHER SCRIPTS HERE INCL. ANALYTICS -->

    <!-- No Javascript Warning -->
    <noscript>
        <div class="lv-alert lv-unselectable">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
        </div>
    </noscript>

</body>
</html>