@import "foundation/components/buttons";
/*
    BUTTONS.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.button {
    // min-width: rem-calc(112);
    min-width: rem-calc(140);
    // border-color: $tertiary-color !important;
    // color: $tertiary-color !important;
    font-weight: 600;
    border-radius: $button-radius;
    background: $tertiary-color; //#5686B9; //refactor

    &.small {
        min-width: 0;
        // background: #5686B9; // good blue
    }
}

.lv-main .button {
    background: #5686B9;
}

//refactor
.lv-login .button {
    background: $tertiary-color;

    &:hover {
        background: darken(#5686B9, 5%);
    }
}

.button-greyed {
    background: lighten($secondary-color, 50%);

    &:hover {
        background: darken(#A7A8B3, 10%) !important;
    }
}

//-----------------------------------------------------------------
// Pill Button
//-----------------------------------------------------------------

.button.pill {
    background: $quaternary-color;
    min-width: 0;
    padding: rem-calc(2 10);
    border-radius: 100px;
    margin-bottom: 0;
}

// standardize button colour
.lv-sidebar .button.pill {
    background: #A9AAB3;
}


//-----------------------------------------------------------------
// Feature Button (Seen on Dashboard)
//-----------------------------------------------------------------

.lv-main {
    // background: #E8E8E8;
}

.lv-feature-button {
    display: inline-block;
    padding: rem-calc(10);
    border: 1px solid #ddd;
    border-radius: $global-radius*2;
    background: #EEEFF3;// #EEEFF3;
    width: 100%;

    @media #{$medium-up} {
        display: block;
        padding: rem-calc(30);
        text-align: center;
    }

    i {
        display: inline-block;
        font-size: rem-calc(30);
        padding: rem-calc(0 15);
        // color: $tertiary-color;
        color: #5A5C67;

        @media #{$medium-up} {
            display: block;
            font-size: rem-calc(50);
        }
    }

    .text {
        font-size: rem-calc(18);
        color: $body-font-color;
        // font-weight: 500;
    }
}

//-----------------------------------------------------------------
// Context Menu Back Button (emulate h6 style)
//-----------------------------------------------------------------

.lv-context-menu .lv-back-button {
    margin: rem-calc(15);
    padding: rem-calc(15);
    border: 2px solid #42434C; //$quaternary-color;
    // background: #42434C;
    font-size: $h6-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $quaternary-color;
    border-radius: $global-radius;
    cursor: pointer;

    i {
        line-height: 1;
        font-size: rem-calc(14);
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

// .search-button i {
//     font-size: rem-calc(20);
//     line-height: 36px;
// }

// .lv-super input[type="button"],
// .lv-super input[type="submit"],
// input[type="button"],
// input[type="submit"]
//  {
//     @include button;
//     border-radius: $global-radius;
//     cursor: pointer;
// }

// .lv-super .pill {
//     padding: rem-calc(5 10);
//     background: grey;
//     border-radius: rem-calc(30);
// }

// .lv-sidebar .pill {
//     float: right;
//     margin-top: rem-calc(6);
// }