@import "foundation/components/buttons";
/*
    BUTTONS.CSS

    - Last updated: 26.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.button {
    // min-width: rem-calc(112);
    min-width: rem-calc(140);
    // border-color: $tertiary-color !important;
    // color: $tertiary-color !important;
    font-weight: 600;
}

.button-greyed {
    background: lighten($secondary-color, 50%);

    &:hover {
        background: darken(#A7A8B3, 10%) !important;
    }
}

//-----------------------------------------------------------------
// Feature Button (Seen on Dashboard)
//-----------------------------------------------------------------

.lv-feature-button {
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    padding: rem-calc(40);
    border-radius: $global-radius*2;
    background: #EEEFF3;

    i {
        display: block;
        font-size: rem-calc(50);
        color: $tertiary-color;
    }

    .text {
        font-size: rem-calc(18);
        color: $body-font-color;
        // font-weight: 500;
    }
}

//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

// .search-button i {
//     font-size: rem-calc(20);
//     line-height: 36px;
// }

// .lv-super input[type="button"],
// .lv-super input[type="submit"],
// input[type="button"],
// input[type="submit"]
//  {
//     @include button;
//     border-radius: $global-radius;
//     cursor: pointer;
// }

// .lv-super .pill {
//     padding: rem-calc(5 10);
//     background: grey;
//     border-radius: rem-calc(30);
// }

// .lv-sidebar .pill {
//     float: right;
//     margin-top: rem-calc(6);
// }