/*
    FORMS.CSS

    - Last updated: 25.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

// Center all input placeholder text - looks better

::-webkit-input-placeholder {
	color: #9CA0A6;
  // text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #9CA0A6;
  // text-align: center;
}
:-ms-input-placeholder {
	color: #9CA0A6;
  // text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
	color: #9CA0A6;
  // text-align: center;
}

//-----------------------------------------------------------------
// Inputs
//-----------------------------------------------------------------

select,
input[type=text],
input[type=number],
input[type=password],
input[type=email] {
	border-radius: $global-radius;
	// margin-bottom: rem-calc(20);
}

form label .text {
	display: inline-block;
	margin-bottom: rem-calc(8);
}