/*
    TYPE.CSS

    - Last updated: 21.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Type
//-----------------------------------------------------------------

h1, h2 {
    @media #{$small-only} {
        font-weight: 600;
    }
}

h6 {
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
}

.lv-main h6 {
	@media #{$medium-up} {
	    font-size: rem-calc(14);
	    margin-bottom: rem-calc(30);
	}
}