{% assign username = "Ajay MallasandraHandsel Aveeve" %}

<div class="lv-context-menu-fixed">
    <div class="lv-context-menu-scroller">

		<!-- Logo -->
    	<a class="lv-logo" href="/"><img src="/img/content/logo@2x.png"></a>

		<!-- User -->
		<div class="lv-context-menu-user">
    		<a class="user" href="#"><i class="fi-torso"></i> {{ username }}</a>
    		<a class="logout" href="#">Logout</a>
    	</div>

		<!-- Standard User -->
		<section class="lv-context-menu-user-group">
		    <h6 class="lv-expander js-expander">Standard User</h6>
		    <ul class="lv-expander-content">
		        <li class="active">
		            <a href="#"><i class="fi-layout"></i> Dashboard</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-torsos-male-female"></i> Applicant Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-search"></i> Vacancy Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-edit"></i> New Vacancy</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-graph-trend"></i> Recruitment Requests</a>
		        </li>
		    </ul>
		</section>

		<!-- Admin User -->
		<section class="lv-context-menu-user-group">
		    <h6 class="lv-expander lv-expander-hidden js-expander">Admin User</h6>
		    <ul class="lv-expander-content">
		        <li>
		            <a href="#"><i class="fi-layout"></i> Client</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-torsos-male-female"></i> Users</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-search"></i> Templates</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-edit"></i> Questions</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-graph-trend"></i> Reports</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-graph-trend"></i> Help</a>
		        </li>
		    </ul>
		</section>

    </div> <!-- .lv-context-menu-scroller -->
</div> <!-- .lv-context-menu-fixed -->