<div class="lv-context-menu-fixed">
    <section class="lv-context-menu-scroller">

		<br>
    	<p class="text-center"><img width="140" src="/img/content/logo@2x.png"></p>

		<section>
		    <h1>Standard User</h1>
		    <ul>
		        <li class="active">
		            <a href="#"><i class="fi-layout"></i> Dashboard</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-torsos-male-female"></i> Applicant Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-search"></i> Vacancy Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-edit"></i> New Vacancy</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-graph-trend"></i> Recruitment Requests</a>
		        </li>

		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-torsos-male-female"></i> Applicant Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-search"></i> Vacancy Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-edit"></i> New Vacancy</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-graph-trend"></i> Recruitment Requests</a>
		        </li>

		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-torsos-male-female"></i> Applicant Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-search"></i> Vacancy Search</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-page-edit"></i> New Vacancy</a>
		        </li>
		        <li class="{% if page.url == "/CHANGE-THIS/" %}active{% endif %}">
		            <a href="#"><i class="fi-graph-trend"></i> Recruitment Requests</a>
		        </li>

		    </ul>
		</section>

        <!-- Bottom space to offset footer -->
        <div class="lv-spacer"></div>

    </section> <!-- .secondary-nav -->
</div> <!-- .lv-inner -->