/*
    GENERAL-LEGACY.CSS

    - Last updated: 06.03.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

.legacy-form {
    background: white;
    padding: rem-calc(15);
    margin: rem-calc(20 0);

    ul {
        list-style: none;
        margin-left: 0;
    }
}
//-----------------------------------------------------------------
// Table experiment
//-----------------------------------------------------------------

.lv-scrollerX {
    // max-width: 320px;
    // overflow-x: scroll;

    @media #{$medium-up} {
        // max-width: 1024px;
    }
}

.lv-main-constrain {
    // width: 1000px;
    // display: none;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

//=========================================
//
//=========================================


